/* Navbar alterations */

.navbar {
    border-radius: 0;
    margin-bottom: 0;
}

.navbar-brand {
    font-family: 'Audiowide', cursive;
    font-size: 25px;
    color: #C5C316 !important;
}

.root-container {
    background-color: rgba(0,0,0,.5);
    padding-top: 20px;
    padding-bottom: 20px;
    color: #ccc;
}

body {
    background-image: url('img/space.jpg');
    background-position: bottom;
    background-attachment: fixed;
}

/* Members */

.well {
    background-color: rgba(0,0,0,.8);
    border: 1px solid black;
}

.member {
}

.member-type-selection {
    margin-bottom: 10px;
    margin-top: 10px;
}

.member-add-btn {
    margin-bottom: 20px;
}

a.member-remove {
    float: right;
}

.block h3 {
    margin-top: 0;
}

.ore-options {
    margin-bottom: 10px;
}

.ore-img-container img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
}

.ore-title {
    text-align: center;
    font-size: 12px;
}

.blocks-title h2 {
    margin-top: 0;
}

.footer {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #222;
    border-top: 1px solid #080808;
}

.powered-angular {
    width: 50px;
    height: 50px;
    float: right;
}

@media screen and (min-width: 992px) {
    .blocks-button .btn {
        float: right;
    }
}

